@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;

}
body {
    background: linear-gradient(to right, #00aaff, #492e2e);
}

h1 {
    text-align: center;
    margin: 1.5rem;
}

#container {
   max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top:2.5rem;
}

label,
input {
    font-weight: bold;
    width: 70%;
    margin: auto;
}

input {
    padding: 0.4rem 0.5rem;
    margin-bottom: 2rem;
    color: black;
}

button {
    width: 120px;
    margin: auto;
    padding: 0.4rem 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: black
}

#message {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1.5rem;
}

/* footer */
.container{
    text-align: center;
    border-top-right-radius: 1.5rem;
    margin:2.5rem  0.3rem 0 0.3rem;  
}

footer h2 {
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

footer ul {
    padding: 1rem;
}
footer ul li {
    display: inline;
}
footer ul li a {
    text-decoration: none;
    margin: 0rem 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}
footer ul li a:hover {
    color: rgb(21, 16, 71);
}
